%button.show-product__body__main__description__bottom__good__btn
  - if user_signed_in?
    - if likes
      %i.fas.fa-heart.show-product__body__main__description__bottom__good__btn__heart
      = link_to("いいね", unlike_path(product.id), method: :delete, remote: true) 
      %span.show-product__body__main__description__bottom__good__count
        = product.likes_count
    - else
      %i.far.fa-heart.show-product__body__main__description__bottom__good__btn__icon
      = link_to("いいね", like_path(product.id), method: :post, remote: true) 
      %span.show-product__body__main__description__bottom__good__count
        = product.likes_count
  - else
    %i.far.fa-heart.show-product__body__main__description__bottom__good__btn__icon
      いいね 
      %span.show-product__body__main__description__bottom__good__count
        = product.likes_count