= render partial: 'products/header'
.show-product
  .show-product__body
    .show-product__body__header
      = @product.name
    .show-product__body__main
      .show-product__body__main__photo
        = image_tag @product.image.url , class: 'show-product__body__main__photo__big'
      .show-product__body__main__description
        .show-product__body__main__description__box
          .show-product__body__main__description__box__user
            = @product.user.name
          .show-product__body__main__description__box__date
            = @product.created_at.strftime("%Y/%m/%d %H:%M")
        .show-product__body__main__description__text
          = @product.description
= render partial: 'products/footer'


